*
{
    margin: 0;
    padding: 0;
}
:root
{
    --color-black: #000;
    --color-grey: #525252;
    --color-green: #00C614;
}
body
{
    /* background-color: #7ea3d8; */
    background-color: #405677;
    background-image: url(./images/bg_img.jpg);
    background-size: cover;
    background-blend-mode: multiply;
    font-family: 'IBM Plex Mono', monospace;
}
::-webkit-scrollbar
{
    width: 8px;
    background-color: var(--color-black);
}
::-webkit-scrollbar-thumb
{
    border-radius: 4px;
    background-color: var(--color-green);
}
#wrapper
{
    width: 100vw;
    height: 100vh;
}
footer
{
    position: absolute;
    right: 1em;
    bottom: 1em;
    font-size: 1.2em;
    color: white;
}
nav
{
    background-color: var(--color-black);
    height: 12vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: var(--color-green);
}
nav div
{
    width: 25%;
    height: 100%;
    display: flex;
}
#timer
{
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#timer h1
{
    font-size: 2.5em;
}
.player
{
    align-items: center;
}
.player img
{
    height: 90%;
    margin: 1em;
}
.player:last-child
{
    flex-direction: row-reverse;
}
main
{
    width: 100%;
    height: 88vh;
    display: flex;
}
#main_container
{
    height: 100%;
    width: 60%;
    justify-content: center;
    align-items: center;
}
menu
{
    width: 100%;
    height: 12%;
    color: var(--color-green);
}
menu ul
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    font-size: 1.25em;
    font-weight: bolder;
    text-align: center;
}
menu ul li:last-child
{
    display: none;
}
#inner_container
{
    width: 100%;
    height: 88%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#inner_container button
{
    width: 20px;
    aspect-ratio: 1/1;
}
#field
{
    width: 55%;
    aspect-ratio: 1/1;
    /* border-radius: 2em;
    color: white;
    background-color: rgb(9, 41, 2);
    display: flex;
    justify-content: center;
    align-items: center; */
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    border: 0.2em solid var(--color-green);
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
}
.field_grid
{
    border: 0.2em solid var(--color-green);
}
#terminal_wrapper
{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#terminal
{
    background-color: var(--color-black);
    border: clamp(20px, 2.5em, 35px) solid var(--color-grey);
    border-radius: 1.5em;
    color: var(--color-green);
    width: 50%;
    aspect-ratio: 13/20;
    box-shadow: rgba(0, 0, 0, 0.25) -0.8em 0.8em 0.8em, #4e4e4e -0.3em 0.3em 0 0.3em;
    overflow: auto;
    text-align: center;
}
#terminal h1
{
    font-size: 2em;
    font-weight: lighter;
}
#popup_wrapper
{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(3px);
}
#popup
{
    width: 35%;
    aspect-ratio: 1/1;
    border-radius: 3em;
    border: 2vw solid var(--color-green);
    background-color: var(--color-black); 
    color: var(--color-green);
    display: grid;
    grid-template-rows: 2fr 1fr;
    opacity: 0;
    transition: 1s opacity;
}
#popup section
{
    display: flex;
    justify-content: center;
    align-items: center;
}
#popup div
{
    text-align: center;
}
#popup img
{
    width: 80%;
}
#popup section:last-child h2::after
{
    content: '|';
    animation: wzkaznik2 1.5s infinite step-start;
}
#popup h2
{
    font-size: 1.5vw;
}
#popup section:last-child h2
{
    width: 96%;
    font-size: 1.25vw;
}
#position_container
{
    background-color: var(--color-black);
    width: 20em;
    height: 15em;
    position: absolute;
    top: 12vh;
    left: calc(50vw - 10em);
    border-radius: 0 0 2em 2em;
    color: var(--color-green);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 2s;
    transform-origin: top;
}
#position_container div
{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#inner_container > div:last-child
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 5%;
}

@keyframes wzkaznik
{
    100%
    {
        opacity: 0;
    }
}

@keyframes wzkaznik2
{
    50%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 100%;
    }
}

@keyframes vis 
{
    100%
    {
        opacity: 100%;
    }
}

@media screen and (max-width: 750px)
{
    .player
    {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .player:last-child
    {
        flex-direction: column;
    }
    .player img
    {
        height: 70%;
        margin: 0;
    }
    .player h2 
    {
        font-size: 0.8em;
    }
    #terminal_wrapper
    {
        display: none;
    }
    #main_container
    {
        width: 100%;
    }
    menu ul li:last-child
    {
        display: block;
    }
    menu ul 
    {
        font-size: 1em;
    }
    #popup
    {
        width: 70%;
        aspect-ratio: 2/3;
    }
    #popup h2
    {
        font-size: 3.5vw;
    }
    #popup section:last-child h2
    {
        width: 96%;
        font-size: 3vw;
    }
    #field
    {
        width: 90%;
    }
}