*
{
    margin: 0;
    padding: 0;
}
:root
{
    --color-black: #000;
    --color-grey: #525252;
    --color-green: #00C614;
}
body
{
    background-color: #405677;
    background-image: url(./images/bg_img.jpg);
    background-size: cover;
    background-blend-mode: multiply;
    font-family: 'IBM Plex Mono', monospace;
}
#wrapper
{
    width: 100vw;
    height: 100vh;
}
#terminal_wrapper
{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s width ease-in-out;
}
#terminal
{
    background-color: var(--color-black);
    border: 3em solid var(--color-grey);
    border-radius: 1.5em;
    color: var(--color-green);
    width: 25em;
    /*aspect-ratio: 13/20;*/
    height: 38.5em;
    box-shadow: rgba(0, 0, 0, 0.25) -0.8em 0.8em 0.8em, #4e4e4e -0.3em 0.3em 0 0.3em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s width ease-in-out;
}
footer
{
    position: absolute;
    right: 1em;
    bottom: 1em;
    font-size: 1.2em;
    color: white;
}
#options_wrapper, #stats_wrapper
{
    text-align: center;
    display: none;
}
#start
{
    text-align: center;
    line-height: 2em;
}
#start h1
{
    margin: 0.5em;
}
#name_input, #ng_wrapper input[type="text"]
{
    background-color: transparent;
    outline: 0;
    border: 0;
    border-bottom: 1.5px dotted var(--color-green);
    color: var(--color-green);
    font-family: 'IBM Plex Mono', monospace;
    text-align: center;
}
#options_wrapper h1, #stats_wrapper h1, #start h1, #ng_wrapper h1
{
    font-size: 3.5em;
}
#options_wrapper ul, #start ul
{
    list-style: none;
    font-size: 1.5em;
}
#stats_wrapper ul
{
    list-style: none;
    font-size: 1em;
}
#stats_wrapper li:first-child
{
    font-size: 1.5em;
}
#options_wrapper li
{
    margin: 0.5em 0;
}
#stats_wrapper li
{
    margin: 0.5em 0;
    cursor: default;
}
#options_wrapper input[type="checkbox"]
{
    display: none;
}
#about_wrapper
{
    display: none;
    width: 100%;
    /* height: 100%; */
    height: calc(100% - 5em);
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2em;
    font-size: 1.25em;
    overflow: auto;
}
#about_wrapper h1
{
    font-size: 2em;
}
#about_wrapper .btn
{
    margin-top: 20px;
}
.btn
{
    cursor: pointer;
}
.btn:hover::after
{
    content: '<';
    position: absolute;
    margin-left: 15px;
    animation: wzkaznik 1s linear infinite alternate;
}
#stats_return
{
    margin-top: 2em;
}
#radar
{
    position: fixed;
    -webkit-z-index: -1;
    -moz-z-index: -1;
    -ms-z-index: -1;
    -o-z-index: -1;
    z-index: -1;
    width: 1px;
    aspect-ratio: 1/1;
    background: red;
    border-radius: 50%;
    box-shadow: 0 0 1em 2.5em red;
    right: 25em;
    top: 18em;
    animation: radar 4s cubic-bezier(1, 0, 0.5, 0.5) infinite;
    opacity: 0%;
}
#stats_wrapper
{
    display: none;
}
#ng_wrapper
{
    display: none;
    text-align: center;
    font-size: 1.25em;
}
/* #ng_wrapper input, #ng_wrapper p
{
    line-height: 1.5em;
} */
#ng_wrapper h2
{
    font-size: 1.25em;
    margin-bottom: 1em;
}
#ng_wrapper input[type="text"]
{
    width: 4em;
}
/* #ng_wrapper select
{
    font-family: 'IBM Plex Mono', monospace;
    color: var(--color-green);
    outline: 0;
    border: 0px;
    padding: 5px;
    background-color: transparent;
} */
#ng_wrapper input[type="radio"], #ng_wrapper button
{
    display: none;
}
#ng_wrapper input[type="radio"]:checked ~ label::before
{
    content: 'x';
    position: absolute;
    left: -20px;
    animation: wzkaznik 1s linear infinite alternate;
}
#ng_wrapper label
{
    position: relative;
    cursor: pointer;
}
#ng_wrapper form div, #ng_wrapper label p
{
    display: inline-block;
    margin: 20px;
}
/* #ng_wrapper label p
{
    display: inline-block;
} */


@keyframes radar 
{
    0%
    {
        opacity: 0%;
    }
    33%
    {
        opacity: 100%;
    }
    66%
    {
        opacity: 0%;
    }
}

@keyframes wzkaznik
{
    100%
    {
        opacity: 0;
    }
}

@media screen and (max-width: 750px)
{
    #terminal_wrapper
    {
        width: 100%;
    }
    #terminal
    {
        /* width: clamp(200px, 80%, 450px); */
        width: 70%;
        height: 60vh;
        box-shadow: rgba(0, 0, 0, 0.25) -0.4em 0.4em 0.4em, #4e4e4e -0.15em 0.15em 0 0.15em;
        border: 2em solid var(--color-grey);
        border-radius: 0.75em;
    }
    footer, #ng_wrapper
    {
        font-size: 0.8em;
    }
    #options_wrapper h1, #start h1, #ng_wrapper h1
    {
        font-size: 2.5em;
    }
    #stats_wrapper h1
    {
        font-size: 2em;
    }
    #about_wrapper
    {
        font-size: 1em;
    }
}